---
BasedOnStyle: Chromium
ColumnLimit: 100
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-zA-Z_\-\.]+>'
    Priority: 1
  - Regex: '^"[a-zA-Z_\-\.]+"'
    Priority: 2
  - Regex: '^(<|")common.*'
    Priority: 3
  - Regex: '^"(third-party|fmt|curl).*'
    Priority: 4
    SortPriority: 5
  - Regex: '.*'
    Priority: 5
    SortPriority: 4
