---
BasedOnStyle: Chromium
ColumnLimit: 100
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-zA-Z_\-]+>'
    Priority: 1
  - Regex: '^(<|")common.*'
    Priority: 2
  - Regex: '^"third-party.*'
    Priority: 3
    SortPriority: 4
  - Regex: '.*'
    Priority: 4
    SortPriority: 3
