# Ensure line endings are consistently 'LF'
* text=auto

third-party/**/* linguist-vendored
third-party/**/* linguist-generated
test/decompiler/reference/** linguist-vendored
# suppress from PR diffs - is just reviewing the same thing twice (if properly added to g_src)
test/decompiler/reference/** linguist-generated
goal_src/import/** linguist-vendored
goal_src/import/** linguist-generated
*.gc linguist-language=lisp
*.gd linguist-language=lisp
*.gs linguist-language=Scheme
*.gp linguist-language=Scheme
goal_src/engine/gfx/ocean/ocean-tables.gc linguist-vendored
