# for CMake
/Testing

# for clion
cmake-build-debug/*
.idea/*
build/*
decompiler_out/*
logs/*


# for Nix
/result*

\#*#
.#*#
*.pyc

# output from our tools
*.bin
*.log
*.p2s
savestate-out/
failures/
ee-results.json

# game stuff
game_config/*
imgui.ini
