# for CMake
/Testing

# for clion
cmake-build-debug/*
.idea/*
build/*
decompiler_out/*
logs/*

# wsl apparently builds to here?
linux-default/


# for Nix
/result*

\#*#
.#*#
*.pyc

# output from our tools
*.bin
*.log
*.p2s
savestate-out/
failures/
ee-results.json

# graphics debug
debug_out/*
gfx_dumps/*

# game stuff
game_config/*
imgui.ini

# website stuff
node_modules/

# texture replacements
texture_replacements/*

# generated cmake files
svnrev.h
