name: Linux Build Clang

on:
  workflow_call:
    inputs:
      cmakePreset:
        required: true
        type: string
      cachePrefix:
        required: true
        type: string

jobs:
  build:
    name: Clang
    runs-on: ubuntu-20.04
    timeout-minutes: 45

    env: # overrides: https://github.com/mbitsnbites/buildcache/blob/master/doc/configuration.md
      BUILDCACHE_MAX_CACHE_SIZE: 1000000000 # 1gb
      BUILDCACHE_COMPRESS_FORMAT: ZSTD
      BUILDCACHE_COMPRESS_LEVEL: 19
      BUILDCACHE_DIRECT_MODE: true
      BUILDCACHE_LOG_FILE: ${{ github.workspace }}/buildcache.log

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Package Dependencies
        run: >
          sudo apt install build-essential cmake
          clang gcc g++ lcov make nasm libxrandr-dev
          libxinerama-dev libxcursor-dev libpulse-dev
          libxi-dev zip ninja-build

      - name: Setup Buildcache
        uses: xTVaser/buildcache-action@version-flag
        with:
          cache_key: linux-ubuntu-20.04-${{ inputs.cachePrefix }}-${{ inputs.cmakePreset }}
          buildcache_tag: v0.27.6

      - name: CMake Generation
        env:
          CC: clang
          CXX: clang++
        run: |
          cmake -B build --preset=${{ inputs.cmakePreset }} \
            -DCMAKE_C_COMPILER_LAUNCHER=${{ github.workspace }}/buildcache/bin/buildcache \
            -DCMAKE_CXX_COMPILER_LAUNCHER=${{ github.workspace }}/buildcache/bin/buildcache

      - name: Build Project
        run: cmake --build build -j$((`nproc`+1))

      - name: Run Tests
        env:
          GTEST_OUTPUT: "xml:opengoal-test-report.xml"
        run: ./test.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: opengoal-linux-${{ inputs.cachePrefix }}
          if-no-files-found: error
          path: |
            ./build/goalc/goalc
            ./build/decompiler/extractor
            ./build/game/gk
            ./build/lsp/lsp
